body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 230px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 25%;
padding: 10px;
  /* Should be removed. Only for demonstration */
}
.font
{
color: white;
}
.font1
{
color: #B2BABB ;
font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
}
img {
  border-radius: 50%;
  height: 80px;
  width: 80px;

}
.raw > .columnn {
}

.raw:after {
  content: "";
  display: table;
  clear: both;
  heigth: 30%;
}

.columnn {
  float: left;
  width: 20%;
margin-left: 20px;
}

a:link {
  text-decoration: none;
}